.body-grid{
    display: grid;
    /*height: calc(100vh - (var(--footer-height) + var(--header-height)));*/
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
    margin-right: 15px;
    grid-template-areas: 
      "header header"
       "image about"
       "projects skills"
       "connect experience"
       "messages experience"
       "footer footer"
  }

  header{
    /*grid-column: 1 / -1;
    grid-row-start: 1;*/    
    position: sticky;
    width: 100%;
    grid-area: header;
  }

  footer {
    /*grid-row-start: -3;
    grid-row-end: -1;*/
    grid-area: footer;
    padding: 3px;
  }

  /*
  content-grid {
    grid-area: content;
  }
*/
  .image-grid {
    grid-area: image;
  }
  
  .about-grid {
    grid-area: about;
  }
  
  .skills-grid {
    grid-area: skills;
  }

  .projects-grid {
    grid-area: projects;
  } 

  .experience-grid {
    grid-area: experience;
  }
  
  .connect-grid{
    grid-area: connect 
  }

  .message-grid{
    grid-area: messages;
  }

.messageList-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(50px, 1fr);
    grid-gap: 5px;
    /*grid: auto-flow dense / repeat(5, 150px);
    grid-template-areas: "media detail detail";
    grid-template-columns: 200px 400px;*/
  }

   
@media (min-width: 0) and (max-width: 600px){
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  div.content {
    font-size: 25px;
  }

  div.a {
    font-size: 25px;
  }

  .al{
    font-weight: normal;
    margin: 5px;
  }
  
  form {
    max-width: 300px;
    /*padding: 5px; */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="uderMessage"],
  textarea {
    font-size: 20px;
    background-color: #eff7f7;
  }

  .body-grid{
      display: grid;
      font-size: 25px;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(50px, auto);
      grid-gap: 5px;  
      grid-template-areas: 
        "header"
          "image" 
          "about"
          "skills" 
          "projects"
          "experience"
          "connect"
          "messages"
          "footer"
  }

  .messageList-grit{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}


@media (min-width: 601px) and (max-width: 880px){
  .body-grid{
      display: grid;
      font-size: 23px;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(50px, auto);
      grid-gap: 15px;
      grid-template-areas: 
        "header"
          "image" 
          "about"
          "skills"
          "projects" 
          "experience"
          "connect"
          "messages"
          "footer"
  }

  .messageList-grit{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
  }

  div.content {
      font-size: 23px;
      display: flex;
      flex-direction: column;
  }
  
  .al{
      font-weight: normal;
  }
  
  form {
      max-width: 500px;
      /*padding: 5px;*/
  }
  
  input[type="text"],
  input[type="email"],
  input[type="uderMessage"],
  textarea {
      font-size: 20px;
      background-color: #eff7f7;
  }
}

@media (min-width: 881px) { 
  .body-grid{
    display: grid;
    /* height: calc(100vh - (var(--footer-height) + var(--header-height)));*/
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
    grid-template-areas: 
      "header header"
        "image about"
        "skills projects"
        "connect experience"
        "messages messages"
        "footer footer"
  }

  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  body {
      font-size: 15px;
  }

  div.content {
    font-size: 20px;
  }

  form {
    max-width: 600px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="uderMessage"],
  textarea {
    font-size: 25px;
    background-color: #eff7f7;
  }

  .messageList-grit{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}