@font-face {
  font-family: "handwriting";
  src: 
    url("../assets/fonts/journal-webfont.woff2") format("woff2"),
    url("../assets/fonts/journal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "typewriter";
  src: 
    url("../assets/fonts/veteran_typewriter-webfont.woff2") format("woff2"),
    url("../assets/fonts/veteran_typewriter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: snow;
  color: darkred;
  font-family: Verdana, Helvetica, "DejaVu Sans", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  gap: 24px;

  width: 100%;
  padding: 16px 48px;

  background-color: goldenrod;
}

.logo {
  width: 80px;
  border-radius: 50%;
}

nav {
  margin-left: auto;
  font-family: typewriter, monospace;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.nav-list a {
  background-color: darkred;
  color: white;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 10px;
}

.nav-list a:hover, a:focus {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 1em;
}

section h1 {
  font: 2rem "typewriter", monospace;
  font-weight: bold;
  background-color: darkred;
  color: white;
  text-transform: uppercase;
  padding: 0.5em;
  margin: auto;
  border-radius: 0.5em;
}

h2 {
  font-family: "typewriter", monospace;
  font-weight: lighter;
  font-size: 2em;
  color: black;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 10px;
  border: solid black thin;
  border-bottom-width: thick; 
}

.experience li::marker {
  color: black;
}

ul {
  list-style-type: none;
}

section p, .experience ul li, .skill-list li, #messages li {
  background-color: whitesmoke;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.experience ul li h2 {
  padding: 5px;
  border: unset;
  border-bottom: solid goldenrod; thick;
}

.experience ul li ul li {
  list-style-type: circle;
  margin-left: 2em;
}

.skill-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;

}

.skill-list li {
  max-width: 150px;
  border: solid goldenrod thin;
  border-left-width: thick;
}

a {
  text-decoration: none;
  outline: none;
}

p a {
  display: inline-block;
  color: black;
  font-weight: bold;
}

p a:hover, a:focus, a:active {
  color: goldenrod;
  text-decoration: underline;

}

#postcard {
  display: flex;
  justify-content: center;
  font: 1.3rem sans-serif;
  padding: 0.5em;
}

form h2 {
  font: 
    1em "typewriter",
    monospace;
  border: unset;
}

#from, #reply {
  display: flex;
  align-items: baseline;
}

label {
  font: 
    0.8em "typewriter",
    sans-serif;
}

input, textarea {
  font:
    1.4em/1.5em "handwriting",
    cursive,
    sans-serif;
  border: none;
}

input:focus, textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input {
  flex: auto;
  margin-left: 8px;
  margin-bottom: 8px;
}

textarea {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
}

button {
  margin: 3px;
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.remove-button {
  color: red;
  border-color: red;
}

form button {
  transform: rotate(-1.5deg);
}

form button:after {
  content: " >>>";
}

button:hover, button:focus {
  outline: none;
  background: black;
  color: white;
}

.remove-button:hover, .remove-button:focus {
  background: red;
}


input:user-invalid, textarea:user-invalid {
  border: 2px solid red;
  border-radius: 5px;
}

input:user-invalid + span::after,
textarea:user-invalid + span::before {
  font: 
    1em "typewriter",
    monospace;
  content: "required";
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translate(-110px, -5px);
}

textarea:user-invalid + span::before {
  transform: translate(240px, -360px);
}

#messages li {
  display: inline-block;
}

footer {
  background-color: goldenrod;
  margin-top: 16px;
  padding: 16px;
  width: 100%;
}

footer p {
  margin-top: 0;
  text-align: center;
  color: black;
}

@media screen and (max-width: 430px) {
  .nav-list ul {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 800px) {

  main {
    width: 740px;
  }

  .skill-list li {
    max-width: 200px;
  }

  form {
  width: 740px;
  height: 498px;
  padding: 1em;
  background: #fff url(../assets/media/background.jpg);

  /* we create our grid */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10em 1em 1em 1em;
  }

  form h2 {
    align-self: end;
  }

  #message {
    grid-row: 1/5;
  }

  label {
    flex: 0 20%;
    margin-left: 8px;
  }

  input, textarea {
    padding: 0 10px;
    background: none;
  }

  input {
    height: 140%;
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
 main {
  width: 950px;
 }

 .skill-list li {
  max-width: 250px;
 }
}
