:root {
  --color-darkest: #000;
  --color-darker: #2b2b4a;
  --color-dark: #55556e;
  --color-medium: #808092;
  --color-light: #d5d5db;
  --color-lighter: #f7f5f9;
  --color-lightest: #fff;

  --color-primary: #0072e0;
  --color-danger: #dc2626;

  --rounded: 3px;
  --rounded-full: 999px;
}

body {
  background-color: var(--color-lightest);
  color: var(--color-darker)
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

strong,
.strong {
  font-weight: 500;
}

em,
.emphasis {
  font-style: italic;
  font-weight: 500;
}

svg {
  vertical-align: middle;
}

main {
  flex-grow: 1;
}

footer {
  background-color: var(--color-lighter);
  font-size: 1.125rem;
}

.container {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1024px;
  width: 90vw;
}

section {
  padding: 1.5rem 0;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu--hide-mobile {
  display: none;
}

.menu__item {
  font-size: 1.125rem;
}

.menu__item--large {
  font-size: 1.125rem;
}

.menu__item:not(:last-child) {
  margin-right: 1rem;
}

.link {
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
}

.link--no-color {
  color: inherit;
}

.link:not(.link--no-decor):hover::after,
.link:not(.link--no-decor):focus::after {
  border-bottom: 2px solid var(--color-primary);
  content: '';
  display: block;
}

.link--no-color:hover::after,
.link--no-color:focus::after {
  border-color: var(--color-darker);
}

.image {
  display: inline-block;
}

.image--small {
  width: 50px;
}

.image--rounded {
  border-radius: var(--rounded-full);
}

.card {
  background-color: var(--color-lighter);
  border-radius: var(--rounded);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card:not(:last-child) {
  margin-bottom: 1rem;
}

.tag {
  border-radius: var(--rounded);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
}

.tag:not(:last-child) {
  margin-right: 0.5rem;
}

.field {
  display: block;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

.field--inline {
  display: inline-block;
  margin-right: 1rem;
}

.field__label,
.field__input {
  display: block;
}

.field__label {
  color: var(--color-dark);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.field__input {
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.button {
  background-color: var(--color-primary);
  border-radius: var(--rounded);
  color: var(--color-lightest);
  min-width: 100px;
  padding: 0.5rem 1rem;
  transition: opacity 0.2s ease-in-out;
}

.button--large {
  font-size: 1.125rem;
}

.button--minimal {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

.button--danger {
  background-color: var(--color-danger);
}

.button:hover,
.button:focus {
  opacity: 0.9;
}

.list__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.list__item :first-child {
  flex-grow: 1;
}

.list__item :not(:last-child) {
  margin-right: 1rem;
}

.list__item:not(:last-child) {
  border-bottom: 1px solid var(--color-dark);
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

@media screen and (min-width: 768px) {
  .menu--hide-mobile {
    display: flex;
  }

  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .field {
    width: 32rem;
  }

  .field--inline {
    width: 15.35rem;
  }
}


