#Circle{
  width: 194px;
    height: 194px;
    border-radius: 60%;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-50%, -50%);
    background-color: darkblue;
    background-image: url(../css/images/powerbutton-PhotoRoom.png-PhotoRoom.png);
    background-blend-mode: color;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 20px;
    box-shadow: rgba(7, 1, 94, 0.45) -8px 23px 19px, rgba(70, 130, 180, 0.337) -4px 19px 16px inset, rgba(0, 53, 0, 0) 78px -23px 16px, rgba(32, 0, 30, 0.1) 33px 50px 191px;
}
  .CircleImage{
    color: blue;
    position: absolute;
    top: 46%;
    left: 85%;
    transform: translate(-51%, -47%);
  
  }
  .Hidden{
    display: none;
  }
  /* BUTTONS */
  #Home{
    position: absolute;
    width: 183px;
    height: 31px;
    top: 38%;
    left: 11%;
    border-color: azure;
    background-color: darkblue;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 20px;
}
  
  #Contact{
    position: absolute;
    top: 50%;
    left: 11%;
    width: 183px;
    height: 31px;
    background-color: darkblue;
    border-radius: 4px;
    border-color: azure;
    text-transform: capitalize;
    font-size: 20px;
  }
  #AboutMe{
    position: absolute;
    width: 183px;
    height: 31px;
    top: 55%;
    left: 11%;
    border-color: azure;
    background-color: darkblue;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 20px;
  }
  #Projects{
    position: absolute;
    width: 183px;
    height: 31px;
    top: 44%;
    left: 11%;
    border-color: azure;
    background-color: darkblue;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 20px;
  }
  
  #Home:hover{
    background-color: darkcyan;
    width: 184px;
    height: 33px;
  }
  #Projects:hover{
    background-color: darkcyan;
    width: 184px;
    height: 33px;
  }
  #Contact:hover{
    background-color: darkcyan;
    width: 184px;
    height: 33px;
  }
  #AboutMe:hover{
    background-color: darkcyan;
    width: 184px;
    height: 33px;
  }
  #Hidden{
      display: none;
    }
  .Contact{
    display: flex;
  }
  .Contact h2{
    position: absolute;
    top: 307px;
    left: 44px;
    font-size: 67px;
  }
  #messages h2{
    position: absolute;
      top: 232px;
      left: 824px;
  }
  #GithubIcon,
#InstagramIcon,
#PortfolioIcon,
#MailIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 880px;
    left: 854px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
  }
  .Tabs{
    position: fixed;
    top: 0%;
    left: 11%;
    width: 88%;
    height: 12%;
    color: purple;
    background-color: purple;
  }
  .HeaderTabs{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: black;
  }
  .Headers{
    display: flex;
    justify-content: space-between;
  }
  .Content{
    border-radius: 1%;
    position: fixed;
    top: 12%;
    left: 30%;
    display: flex;
    justify-content: center;
    background-color: red;
    width: 66%;
    height: 73%;
    color: red;
  }
  #Roblox,#Website,#Programs{
    
    overflow: auto;

  }
  #GamesButton:hover{
    width: 20px;
  }
  .Buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 95%;
    left: 55%;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    margin-right: 10px;
  }
