body {
    background-image: url('wp4997020-amoled-solid-black-wallpapers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fbfdff;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 0; 
    padding: 0;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}



#skills li {
    background-color: #e0e0e000;
    padding: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#messages li {
    background-color: #f5f1f144;
    padding: 5px;
    margin-bottom: 5px;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #555;
}

input, textarea {
    font-size: 14px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 20%; 
}

button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
}
